* {
  background-color: antiquewhite;
}

body {
  margin: 100px;
  text-align: center;
}
.btns {
  margin: 50px;
  background-color: cadetblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border-color: blue;
  border-style: double;
  padding: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(174, 213, 213);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  text-emphasis-color: blue;
}
.addAPIData {
  background-color: rgb(174, 213, 213);
}
.addAPIDataHeader {
  background-color: rgb(174, 213, 213);
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
