* {
  background-color: antiquewhite;
}

body {
  margin: 100px;
  text-align: center;
}
.btns {
  margin: 50px;
  background-color: cadetblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border-color: blue;
  border-style: double;
  padding: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: rgb(174, 213, 213);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
  text-emphasis-color: blue;
}
.addAPIData {
  background-color: rgb(174, 213, 213);
}
.contentCate {
  background-color: rgb(160, 196, 228);
}
.addAPIDataHeader {
  background-color: rgb(174, 213, 213);
}
.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.sideBarClass {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(160, 196, 228);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sideBarClass .closeSideBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openSideBar {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(81, 152, 66);
  color: white;
  padding: 10px 15px;
  border: none;
}
#openSide {
  transition: margin-left 0.5s; /* If you want a transition effect */
  padding: 20px;
}
/* .contentCate::before {
  content: "\a";
  white-space: pre;
} */
